.header__menu-items {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 0;
}

@media screen and (max-width: 660px) {
  .header__menu-items {
  gap: 20px;
}
}

@media screen and (max-width: 470px) {
  .header__menu-items {
  gap: 15px;
}
}
